# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

jobs:
- job: build
  pool: 
   vmImage: "ubuntu-latest"
  steps:
  - task: TerraformTask@5
    displayName: "Terraform Init"
    inputs:
     provider: 'azurerm'
     command: 'init'
     backendServiceArm: 'Azure subscription 1(5a43ace7-d3fc-4352-ad8c-9b5a76824ba7)'
     backendAzureRmResourceGroupName: 'RG1'
     backendAzureRmStorageAccountName: 'terraform023'
     backendAzureRmContainerName: 'tfstatestore'
     backendAzureRmKey: 'predeploy.terraform.tfstate'
  
  - task: TerraformTask@5
    displayName: "Terraform Validate"
    inputs:
      provider: 'azurerm'
      command: 'validate'
  
  - task: TerraformTask@5
    displayName: "Terraform Format"
    inputs:
      provider: 'azurerm'
      command: 'custom'
      outputTo: 'console'
      customCommand: 'fmt'
      environmentServiceNameAzureRM: 'Azure subscription 1(2)(5a43ace7-d3fc-4352-ad8c-9b5a76824ba7)'
  
  - task: TerraformTask@5
    displayName: "Terraform plan"
    inputs:
     provider: 'azurerm'
     command: 'plan'
     commandOptions: '- out $(Build.SourcesDirectory)/tfplanfile'
     environmentServiceNameAzureRM: 'Azure subscription 1(5a43ace7-d3fc-4352-ad8c-9b5a76824ba7)'

  - task: ArchiveFiles@2
    displayName: "Archive File"
    inputs:
      rootFolderOrFile: '$(Build.SourcesDirectory)'
      includeRootFolder: true
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      replaceExistingArchive: true
  
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: '$(Build.BuildId)-build'
      publishLocation: 'Container'
  